*{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width:100vw;
    height: 100vh;
}

nav .container{
    position: relative;
    background-color: #CDF0EA;
    width: 100vw;
    height: 100vh;
}


nav .container .card{
    position: absolute;
    top: 14%;
    left: 36%;
    background-color: #F7F7F7;
    width: 400px;
    height: 0px;
    border-radius: 1rem;
    /* animation-name: utsav1;*/ 
    animation-name: utsav2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 14px 17px 14px 3px rgba(0,0,0,0.70);
-webkit-box-shadow: 14px 17px 14px 3px rgba(0,0,0,0.70);
-moz-box-shadow: 14px 17px 14px 3px rgba(0,0,0,0.70);}
/* @keyframes utsav1{
    from{
        height: 0px;
    }
    to{
        height: 400px;

    }
} */
@keyframes utsav2{
from{
   height: 0px; 
} 
to{  
    height: 400px;}
    0%{
        background-color:lightblue;
    }
    25%{
        background-color:grey ;
    }
    75%{
        background-color:lightcyan;
    }
    100%{
        background-color:transparent;
    }
}

nav .container .card .login_header h3{
    position: absolute;
    top: 5.5%;
    left: 38%;
    color: #395B64;
    font-size: 30px;
}
/**
nav .container .card .login_header p{
    position: absolute;
    top: 14%;
    left: 83%;
    font-size: 13.5px;
    width: 20px;
    color: #395B64;
}***/


/* nav .container .username h4{
    position: absolute;
    font-size: 16px;
    top: 22%;
    left: 7%;
    color:#395B64 ;
} */

nav .container .card .username input{
    position: absolute;
    top: 28.5%;
    left: 13%;
    width: 300px;
    height: 35px;
    border: solid #395B64 1.5px;
    text-align: center;
    border-radius: 5px;
}

/* nav .container .password h4{
    position: absolute;
    font-size: 16px;
    top: 40%;
    left: 7%;
    color:#395B64 ;
} */

nav .container .card .password input{
    position: absolute;
    top: 47%;
    left: 13%;
    width: 300px;
    height: 35px;
    border: solid #395B64 1.5px;
    text-align: center;
    border-radius: 5px;
}

nav .container .continue button{
    position: absolute;
    top: 64%;
    left: 13%;
    width: 100px;
    height: 35px;
    background-color: #395B64;
    color: white;
    font-size: 16px;
    border:solid #395B64 1px;
    border-radius: 5px;
}

nav .container .register button{
    position: absolute;
    top: 64%;
    left: 64%;
    width: 100px;
    height: 35px;
    background-color: #395B64;
    color: white;
    font-size: 16px;
    border:solid #395B64 1px;
    border-radius: 5px;
}