<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>CoffBook</title>
        <link rel="icon" type="image/x-icon" href="/images/ii.png">
        <link rel="stylesheet" href="{%static '/css/service.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Condiment&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    </head>
    <body>
<div class="service">
    <nav>
        <div class="links">
            <a href="/home">Home </a>
            <a href="/book">Book</a>
            <a href="/service">Services</a>
            <a href="/contact">Contacts</a>\
        </div>    
    </nav>
    <div class="body">
    <img src="{%static '/images/services.jpg'%}" width="100%" height="100%">
    <h1>Our Scrvices</h1>
    <div class="content">
        <div class="cards">
            <h2>
                Free Books
            </h2>
                <p>Coffbook provies you millions of <br>
                    free books throughout the globe. <br>
                    You can even download it for<br>
                    offline as pdf file. Coffbook also <br>
                    provides you to publish your <br>
                    own novel,stories,
                    and many <br> more books.</p>
         </div>
        <div class="cards">
            <h2>
                Membership
            </h2>
            <p>You can be a permanent member of coffbook <br>
                by buying our membership. We have different Membership
                plans for you. If you are member of coffbook you
                have advantage to know about different newly arrived Books
                in this site and also can download infinite amout of pdf
                in one day. Starship is a badge which will be give to writer 
                to publish more than 3 books in this site and gets overall 100 
                stars from review. If you will be able to get this starship you
                will be recognized as a verified writer of coffbook.

            </p>
         </div>
        <div class="cards">
            <h2>
                Rent Book
            </h2>
         </div>
    </div>
</div>
</div>
</body>
</html>